.card-header{
    width: 95%;
    background-color: rgb(27 235 177 / 44%);
    padding: 0.75rem 3.25rem;
    
}
.Wishlist_Content {
        opacity: 0;
        /* background-image: url("resources/wishlist_image.png"); */
        background-repeat: no-repeat;
        background-size: 100%;
        -moz-transition: all 1000ms linear;
        -webkit-transition: all 1000ms linear;
        -o-transition: all 1000ms linear;
        transition: all 1000ms linear;
        -moz-transform: translate3d(-100px, 0px, 0px);
        -webkit-transform: translate3d(-100px, 0px, 0px);
        -o-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        transform: translate3d(-100px, 0px, 0px);
    }

    .Wishlist_Content.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }

    .About_Us_Content {
        opacity: 0;
        background-image: url("../college_about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
        -moz-transition: all 1000ms linear;
        -webkit-transition: all 1000ms linear;
        -o-transition: all 1000ms linear;
        transition: all 1000ms linear;
        /* -moz-transform: translate3d(-100px, 0px, 0px);
            -webkit-transform: translate3d(-100px, 0px, 0px);
            -o-transform: translate(-100px, 0px);
            -ms-transform: translate(-100px, 0px);
            transform: translate3d(-100px, 0px, 0px); */
    }

    .About_Us_Colleges {
        padding-top: 10vh;
    }

    .About_Us_Content.in-view {
        opacity: 1;
        /* -moz-transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate3d(0px, 0px, 0px); */
    }



    @keyframes loadAnimation {
        0% {
            transform: translatex(-20%) translatey(-50%);
        }

        100% {
            transform: translatex(-120%) translatey(-200%) scale(0.5);
        }
    }

    @keyframes loadAnimationSmall {
        0% {
            transform: translatex(-5px) translatey(-5px);
        }

        100% {
            transform: translatex(-5px) translatey(-5px);
        }
    }

    @keyframes loadAnimation2 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.8;
        }
    }

    @keyframes loadAnimation3 {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .find_sections:hover,
    .wishlist_sections:hover,
    .apply_sections:hover {
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    a:hover{
        text-decoration: none;
    }
    .grid {
        position: relative;
        /* top: 5%; */
        left: 7%;
        zoom: 0.5;
        float: left;
        /* margin: 0; */
    }

    .box {
        position: relative;
        display: flex;
        align-items: center;
       
        /* zoom: 0.5; */
    }

    .header {
        overflow: hidden;
        padding-top: 1%;
        box-shadow: 1px 1px 4px grey;
        background-color: white;
        border: 2px solid navajowhite;
    }

    .navigation_bar {
        position: relative;
        padding-top: 2.2%;
        width: 50%;
        animation: loadAnimation2 2s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        float: left;
    }

    .row {
        padding-top: 1%;
        width: 100%;
    }
    #row1{
        background-image: url(../images/6.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: round;
        transform: translate(1%, 0%);
        animation: changes 16s ease-in-out infinite;
        padding: 63px;
       
    }

    .card {
        box-shadow: 1px 1px 4px grey;
    }

    .required:after {
        content: " *";
        color: red;
    }

    .requirements {
        /* padding: 0 30px 0 50px;
      color: #999; */
        /* max-height: 10px; */
        /* transition: 0.28s;
      overflow: hidden;
      font-style: italic; */
        color: red;
    }

    .validation_check {
        height: 20px;
        position: absolute;
        width: auto;
        bottom: 40%;
        right: 8%;
        /* margin-top: 0; */
    }

    .svg {
        fill: green;
    }

    .card_text {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }

    .college_find_text {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
    color: #ff2121;
    background-color: black
    }

    .card_subtext {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        color: grey;
    }

    .submit {
        text-align: center;
    }

    #College_submit {
        background-color: darkorange;
        color: white;
        font-weight: bolder;
        /* text-align:center; */
    }

    .instructions_part {
        display: flex;
        justify-content: center;
        align-items: center;
        background: round;
        background-repeat:no-repeat ;
        transform: translate(0%, 0%);
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* align-content: space-around; */
  /* background-image: linear-gradient(hsla(0, 0%, 0%, 0.765), #000000c3), url(../images/6.jpg); */
  animation: change 1s infinite;
    }
/* <div class="col-12 col-md-8 instructions_part" id="result_section" */
   @keyframes changes {
        0%,100% {
            background-image: url("../images/2.jpg");
        }

        25% {
            background-image: url("../images/6.jpg");
        }

        50% {
            background-image: url("../images/university.jpg");
        }

        75% {
            background-image: url("../images/5.jpg");
        }

    }

    
    .instruction {
        margin: auto;
        text-align: left;
        font-weight: bolder;
        color:#ff0a0a;
        visibility:visible;



    }

    ol li {
        padding-bottom: 1vh;
        /* padding-right:0; */
        color:#ff0a0a;
        font-weight: 2000;
    }

    footer {
        box-shadow: 1px 1px 4px grey;
    }

    #college_cards {
        margin: 3%;
        padding: 3%;
    }

    
    #output_display{
        overflow: auto;
        background-repeat: round;
        scroll-behavior: smooth;
        
    }
    
    #output_display::-webkit-scrollbar{
        height: 0px;
    }
    .information_icon {
        height: 3vh;
        width: auto;
    }


    @media screen and (max-width: 768px) {
        .webname_nav {
        zoom: 1.6;
    }

        .row {
            /* padding-left:3vw; */
            /* left:10px; */
            margin: 0;
        }

        #card_form {
            position: relative;
            display: flex;
            align-items: center;
        }

        h1 {
            text-align: center;
        }

        a.text-reset_fw-bold:hover{
            color: #0056b3;
            text-decoration: none;
            background-color: rgb(245, 169, 6);
            border-radius: 10px;
            padding: 10px;
            
        }

        a.text-reset img:hover{
            color: #0056b3;
            text-decoration: none;
            background-color: rgb(245, 169, 6);
            border-radius: 10px;
            padding: 10px;
            

        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            text-align: center;
            font-weight: bold;
            zoom: 0.7;
            z-index: 1;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 1);
            box-shadow: 2px 2px 6px rgba(1, 1, 1, 0.4);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #0a0a0a;
            transform: scale(1.3);
            transition: 0.3s ease-in-out;
            font-weight: bold
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .navbar_icon {
            zoom: 0.4;
            padding-left: 10%;
            padding-top: 10%;
        }

        .phone_menu {
            position: relative;
            zoom: 1.8;
            left: -7%;
        }

        .box {
            zoom: 0.8;
            padding-top: 3%;
        }

        .navbar {
            display: none;
        }

        .box_nav {
            position: relative;
            display: flex;
            align-items: center;
        }

        .webname_nav {
            zoom: 1.6;
        }

        #college_cards {
            text-align: center;
        }

        .college_find_text {
            zoom: 0.5;
        }
  

    }
  

    @media screen and (min-width: 768px) {

         
  
    

        #card_form {
            padding-left: 2vw;
        }

        #mySidebar,
        #phone_menu_button {
            display: none;
        }

        a.text-reset_fw-bold:hover{
            color:black;
            text-decoration: none;
            background-color: rgb(245, 169, 6);
            border-radius: 10px;
            padding: 10px;
            
        }

        a.text-reset img:hover{
            color:black;
            text-decoration: none;
            background-color: rgb(245, 169, 6);
            border-radius: 10px;
            padding: 10px;}
    }

    .nav-item a:hover {
            color: #0a0a0a;
            transform: scale(1.3);
            transition: 0.3s ease-in-out;
            font-weight: bold;
        }